*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin-left: 300px;
    transition: all .3s ease;
    background-color: #EAEFF8
}
/*left nav*/
#left_nav{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 300px;
  background-color: #0A1727;
  transition: all .3s ease;
  z-index: 10
}
#left_nav .logo{
  width: 120px;
  display: block;
  margin: 15px auto 40px;
}
#left_nav .admin_inf{
  text-align: center;
  color: #fff;
  margin-bottom: 50px
}
#left_nav .admin_inf img{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 50%
}
#left_nav .dash_links{
  margin: 0;
  margin-top: 40px;
  padding: 0 10px;
}
#left_nav .dash_links li{
  margin-bottom: 15px;
}
#left_nav .dash_links  li a{
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  transition: all .3s;
  border-radius: 25px
}
#left_nav .dash_links  li a:hover,
#left_nav .dash_links  li .active{
  background-color: #027BFF
}
/*top nav*/
#top_nav{
  width: 100%;
  min-height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
#open_nav_btn{
  cursor: pointer;
  display: none
}
#top_nav h2{
  color: #252525
}
#top_nav p{
  color: #797979
}
/*quick_info*/
#quick_info_container{
  margin: 30px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap ;
  flex-wrap: wrap ;
  color: #fff;
}
#quick_info_container .q_info_box{
  padding: 20px;
  min-height: 150px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 320px;
  margin: 0px auto 20px;
}
#quick_info_container .green{
  background-color: #1DD795;
}
#quick_info_container .yellow{
  background-color: #2196F3;
}
#quick_info_container .blue{
  background-color: #FFAF01;
}
#quick_info_container .q_info_box .icon{
  opacity: .6;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 70px
}
#quick_info_container .q_info_box .inf_text h2{
  font-size: 48px
}
#quick_info_container .q_info_box .inf_text p{
  font-size: 20px
}

/*recent_info_container*/
#recent_info_container{
  width: 100%;
  display: grid;
  grid-gap: 15px 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,200px);
  padding: 20px;
}
#recent_info_container .top_selling{
  padding: 20px;
  background-color: #fff;
  grid-column: 1/3;
  grid-row: 1/3;
  border-radius: 15px;
  overflow-y: scroll;
}
#recent_info_container .top_selling .produit_container .top_p{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
  padding: 20px 0 ;
}
#recent_info_container .top_selling .produit_container .top_p img{
  width: 80px;
}
#recent_info_container .top_selling .produit_container .top_p h3 {
    font-weight: 500;
    margin: auto 0 ;
    max-width: 150px;
    color: #252525
}
#recent_info_container .top_selling .produit_container .top_p h4{
    margin: auto 0 ;
    font-size: 22px;
    font-weight: bold;
}
#recent_info_container .top_selling .produit_container .top_p .quantité {
    margin: auto 0;
    background-color: #DFDFDF;
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    font-size: 18px;
}
#recent_info_container .last_user{
  padding: 20px;
  background-color: #fff;
  grid-column: 3/4;
  grid-row: 1/2;
  border-radius: 15px;
  overflow-y: scroll;
}
#recent_info_container .last_user h3{
  margin-bottom: 15px;
}
#recent_info_container .last_user .user{
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
  color: #252525
}
#recent_info_container .last_user .user{
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    color: #252525
  }
#recent_info_container .last_commande{
  padding: 20px;
  background-color: #fff;
  grid-column: 3/4;
  grid-row: 2/3;
  border-radius: 15px;
  overflow-y: scroll;
}
#recent_info_container .last_commande h3{
  margin-bottom: 15px
}
#recent_info_container .last_commande .commande{
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
  color: #252525;
  display: flex;
  justify-content: space-between;
}
#recent_info_container .last_commande .commande h3{
  width: 50px
}
@media (max-width: 1199.98px) {
  body{
    margin-left: 0;
  }
  #left_nav{
    left: -300px;
  }
  #left_nav.open_left_nav{
    left: 0
  }
  #open_nav_btn{
    display: block
  }
  #quick_info_container .q_info_box{
    width: 280px;
    padding: 20px;
    margin: 0px auto 20px;
  }

}
@media (max-width: 587.98px) {
  #quick_info_container .q_info_box{
    width: 90%
  }
  #quick_info_container .q_info_box .inf_text h2{
    font-size: 32px
  }
  #recent_info_container .top_selling .produit_container{
    overflow: scroll;
  }
}
@media (max-width: 987.98px) {
  #recent_info_container{
    display: block;
  }
  #recent_info_container > div{
    margin-bottom: 20px
  }
  #recent_info_container .top_selling .produit_container .top_p{
    width: 600px
  }
  #recent_info_container .last_commande .commande{
    width: 300px
  }
}
